# Server Configuration
PORT=3100
STORAGE_PATH=./storage/
PUBLIC_URL=http://localhost:3100/generated-files/

# Database Configuration
DB_USER=postgres
DB_PASSWORD=your_password_here
DB_NAME=object-storage
DB_HOST=localhost
DB_PORT=5432